# node_modules
node_modules
bower_components
.grunt
.npm
.env

# PHPStorm settings
/.idea/

# bitrix
/bitrix

# logs
/local/php_interface/logs/
/local/logs/

# download files
/upload/

# system folders
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# archives
*.zip
*.zip*  
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

# robots.txt
!/robots.txt

# logs xhprof
/xhprof/logs